
body{
  color: $mainblue;
  font-size: 25px;
  line-height: 36px;
  @extend %mont-400;
}

.container{
  width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.main{
  min-height: 500px;
}

.logo{
  z-index: 100;
}

.logo-blue{
  z-index: 100;
  display: none;
}