
body{
  color: $mainblue;
  font-size: 25px;
  line-height: 36px;
  @extend %mont-400;
}

.container{
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.main{
  min-height: 500px;
}

.logo{
  z-index: 100;
  &--inversion{
    svg path{
      fill: #fff;
    }
  }
}


.card{
  width: 263px;
  position: relative;
  text-align: left;
  @extend %mont-500;
  font-size: 15px;
  line-height: 18px;
  &__img{
    margin-bottom: 10px;
  }
  &__link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &__name{
    color: $mainblue;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__price-box{
    display: flex;
  }
  &__price{
    color: $grey;
    margin-right: 8px;
    &--sale{
      color: $red;
    }
    &--old{
      text-decoration: line-through;
    }

  }
  &--new{
    &::after{
      position: absolute;
      content: 'NEW';
      text-transform: uppercase;
      @extend %mont-500;
      font-size: 13px;
      line-height: 16px;
      top: 17px;
      left: 17px;
      color: $mainblue;
    }
  }
  &--sale{
    &::after{
      position: absolute;
      content: 'SALE';
      text-transform: uppercase;
      @extend %mont-500;
      font-size: 13px;
      line-height: 16px;
      top: 17px;
      left: 17px;
      color: $red;
    }
  }
}

.breadcrumbs{
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    position: relative;
    padding-right: 30px;
    color: $mainblue;
    font-size: 14px;
    line-height: 17px;
    &::after{
      position: absolute;
      content: "/";
      font-size: 14px;
      @extend %mont-500;
      color: $mainblue;
      right: 15px;
      top: 0;
    }
    &:last-child{
      color: $grey;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    @extend %mont-500;
    font-size: 14px;
    line-height: 17px;
    color: inherit;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    &:hover{
      border-color: $mainblue;
    }
  }
}

.site-navigation{
  padding: 100px 35px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 95;
  display: none;
  &__item-link{
    text-transform: uppercase;
    display: table;
    padding-bottom: 2px;
    margin-bottom: 20px;
    border-bottom: 1px solid transparent;
    &:hover{
      border-color: $mainblue;
    }
  }
  .collections{
    margin-bottom: 20px;
    &__item{
      margin-bottom: 10px;
    }
  }
}

@media (max-width:1150px){
  .card{
    width: auto;
    font-size: 13px;
    line-height: 16px;
  }
}

@media (max-width:768px){
  .logo{
    svg{
      display: block;
      margin: auto 0;
      width: 75px;
      height: 29px;
    }
    &--inversion{
      svg path{
        fill: $mainblue;
      }
    }
  }
}

@media (max-width:480px){
  .card{
    font-size: 10px;
    line-height: 12px;
  }
}