@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.cart{
  padding: 50px 0 150px;
  @extend %mont-500;
  &__title{
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
  }
  &__shoping-link{
    display: table;
    @extend %mont-500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.12em;
    color: $mainblue;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: 1px solid $mainblue;
  }
  &__top{
    padding: 44px 0 40px;
    display: flex; 
    justify-content: space-between;   
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
  }
  &__top-item:nth-child(1){
    width: 163px;
  }
  &__top-item:nth-child(2){
    width: 250px;

  }
  &__top-item:nth-child(3){
    width: 107px;
  }
  &__top-item:nth-child(4){
    width: 125px;
    margin-right: 124px;
  }
  &__card{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
    border-top: 1px solid $grey;
  }
  &__cartd-info{
    width: 250px;
  }
  &__card-name{
    display: table;
    font-size: 20px;
    line-height: 25px;
    color: $mainblue;
    margin-bottom: 10px;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    &:hover{
      border-color: $mainblue;
    }
  }
  &__card-color{
    max-width: 65px;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      border-radius: 50%;      
      top: 0;
      right: 0;
    }
    &--limestone::after{
      background-color: #6A6B66;
    }
    &--duck-green::after{
      background-color: #605C37;
    }
    &--burgundy::after{
      background-color: #C1001D;
    }
    &--classic-brown::after{
      background-color: #774C1E;
    }
    &--pine-forest::after{
      background-color: #9EA8A6;
    }
    &--beige::after{
      background-color: #EED9D0;
    }
    &--mustard::after{
      background-color: #D3BB44;
    }
  }
  &__card-price{
    width: 125px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-right: 124px;
  }
  &__delete-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    width: 24px;
    height: 24px;
    background-image: url('../images/icons/delete.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }
  &__bottom{
    width: 265px;
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    @extend %mont-400;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 26px;
    margin-left: auto;
  }
  &__name + .cart__name{
    margin-top: 15px;
  }
  &__shipping{
    margin-bottom: 15px;
  }
  &__checkout-btn{
    display: block;
    margin-left: auto;
    width: 175px;
    height: 40px;
    text-transform: uppercase;
    @extend %mont-500;
    font-size: 15px;
    line-height: 40px;
    background-color: $mainblue;
    color: $maingrey;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: $darkblue;
    }

  }
}

@media (max-width: 1200px){
  .cart{
    &__top-item:nth-child(4){
      margin-right: 50px;
    }
    &__card-price{
      margin-right: 50px;
    }
  }
}
@media (max-width: 900px){
  .cart{
    &__top-item:nth-child(1){
      width: 107px;
    }
    &__card-img{
      width: 107px;
      height: 107px;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px){
  .cart{
    &__title{
      font-size: 25px;
      line-height: 30px;
    }
    &__top{
      padding: 20px 0;
      font-size: 20px;
      line-height: 30px;
    }
    &__top-item:nth-child(2),
    &__top-item:nth-child(3),
    &__top-item:nth-child(4){
      display: none;
    }
    &__card{
      display: block;
      min-height: 304px;
      border-bottom: 1px solid $grey;
      border-top: none;
    }
    &__card-img{
     float: left;
     width: 215px;
     height: 250px;
     margin-right: 20px;
    }
    &__cartd-info{
      display: inline-block;
      min-width: 51%;
      margin: 40px 0 9px 0;
    }
    &__card-color{
      margin-bottom: 24px;
    }
    &__card-price{
      margin-top: 26px;
      display: inline-block;
      min-width: 45%;
    }
    &__delete-btn{
      top: 40px;
      right: 10px;
    }
    &__bottom{
      margin-top: 20px;
    }
  }
}

@media (max-width: 600px){
  .cart{
    padding: 50px 0 100px;
    &__card-img{
     width: 148px;
    }
    &__cartd-info{
      min-width: 48%;
    }
    &__card-color{
      margin-bottom: 20px;
    }
    &__card-price{
      margin-top: 20px;
      min-width: 39%;
    }
  }
}

@media (max-width: 480px){
  .cart{
    &__top{
      padding-bottom: 0;
    }
    &__card{
      padding: 35px 0 20px 0;
      height: auto;
    }
    &__card-name{
      font-size: 22px;
      line-height: 26px;
    }
    &__card-img{
     float: none;
     width: 100%;
     height: auto;
    }
    &__cartd-info{
      min-width: 100%;
    }
    &__card-color{
      margin-bottom: 15px;
    }
    &__card-price{
      margin-top: 10px;
      min-width: 100%;
    }
    &__delete-btn{
      top: 18px;
    }
    &__bottom{
      width: 100%;
    }
    &__checkout-btn{
      width: 100%;
    }
  }
}