@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding-top: 40px;
  &__top{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu{
      &__list{
        display: flex;
        justify-content: center;
      }
      &__item + .menu__item{
        margin-left: 26px;
      }
      &__link{
        @extend %mont-500;
        font-size: 15px;
        line-height: 18px;
        color: $mainblue;
        padding-bottom: 3px;
        border-bottom: 1px solid transparent;
        transition: all .5s;
       &:hover{
         border-color: $mainblue;
       }
      }
    }
    .user-nav{
      display: flex;
      &__item + .user-nav__item{
        margin-left: 15px;
      }
      &__heart{
        position: relative;
        &::after{
          position: absolute;
          content: "";
          width: 9px;
          height: 9px;
          background-color: $mainblue;
          border-radius: 50%;
          top: 1px;
          right: -1px;
        }
      }
    }
  }
  &__bottom{
    max-width: 1440px;
    min-height: 711px;
    margin: -76px auto 0;
    display: flex;
    background-position: top right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    &__title{
      font-size: 40px;
      line-height: 48px;
      @extend %space-300;
    }
    &__text{
      max-width: 300px;
      font-size: 15px;
      line-height: 20px;      
      @extend %mont-400;      
    }
    &__text:nth-child(3){
      margin-bottom: 25px;
      max-width: 235px;
    }
    &__link{
      color: $maingrey;
      @extend %mainlink;     
    }
  }

  &__bottom-menu{
    background-color: $darkblue;
    min-height: 711px;
    width: 485px;
    margin-top: -70px;
    padding: 540px 20px 0 150px;
    color: $maingrey;
    &__list{
      display: none;
    }
    &__link{
      display: inline-block;
      font-size: 20px;
      line-height: 25px;      
      @extend %mont-500;
      margin-top: 30px;
      margin-bottom: 3px;
      color: $mainblue;
      border-bottom: 1px solid transparent;
      transition: all .3s;
      &:hover{
        border-bottom: 1px solid $mainblue;
      }
    }
  }
  &__bottom-menu--active{
    background-color: #fff;
    padding-top: 235px;
  }

  // &__bottom-submenu__list{
  //   background-color: #fff;
  //   min-height: 711px;
  //   width: 485px;
  //   margin-top: -70px;
  //   padding: 235px 20px 0 150px;
  // }
}

.categories{
  padding: 90px 0 120px 0;
  &__slogan{
    text-align: center;
    margin-bottom: 135px;
  }
  &__slogan-text{
    max-width: 745px;
    margin: 0 auto 20px;
  }
  &__slogan-link{
    @extend %mainlink;
    border-color: $mainblue;
    color: $mainblue;
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    position: relative;
    margin-bottom: 30px;
    &:nth-child(2),
    &:nth-child(4){
      margin-left: 28px;
    }
  }
  &__item-info{
    position: absolute;
    top: 30px;
    right: 6%;
  }
  &__item-title{
    @extend %mont-500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -1px;
    display: block;
    margin-bottom: -12px;
  }
  &__item-link{
    text-transform: uppercase;
    @extend %mont-500;
    font-size: 10px;
    line-height: 12px;
    color: $mainblue;
    border-bottom: 1px solid $mainblue;
  }
}

.benefites{
  background-color: $maingrey;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    min-height: 328px;
    width: 298px;
    padding-top: 65px;
    text-align: center;
  }
  &__icon{
    display: block;
    margin: 0 auto;
  }
  &__title{
    @extend %space-700;
    font-size: 23px;
    line-height: 28px;
    margin:5px 0 10px;
  }
  &__text{
    font-size: 20px;
    line-height: 27px;
  }
}

.bestsellers{
  padding: 120px 0 160px;
  text-align: center;
  &__title{
    @extend %title-h2;
  }
  &__inner{
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &__link{
    @extend %mainlink;
    color: $mainblue;
    border-color: $mainblue;
  }
}

.card{
  width: 263px;
  position: relative;
  text-align: left;
  @extend %mont-500;
  font-size: 15px;
  line-height: 18px;
  &__img{
    margin-bottom: 10px;
  }
  &__link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &__name{
    color: $mainblue;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__price-box{
    display: flex;
  }
  &__price{
    color: $grey;
    margin-right: 8px;
    &--sale{
      color: $red;
    }
    &--old{
      text-decoration: line-through;
    }

  }
  &--new{
    &::after{
      position: absolute;
      content: 'NEW';
      text-transform: uppercase;
      @extend %mont-500;
      font-size: 13px;
      line-height: 16px;
      top: 17px;
      left: 17px;
      color: $mainblue;
    }
  }
  &--sale{
    &::after{
      position: absolute;
      content: 'SALE';
      text-transform: uppercase;
      @extend %mont-500;
      font-size: 13px;
      line-height: 16px;
      top: 17px;
      left: 17px;
      color: $red;
    }
  }
}

.comment{
  background-image: url('../images/quote-bg.svg');
  background-repeat: no-repeat;
  background-position: top center;
  &__inner{
    position: relative;
  }
  &__item{
    text-align: center;
    margin-bottom: 150px;
  }
  &__text{
    display: block;
    margin: 0 auto;
    padding: 50px 0 80px;
    max-width: 830px;
    line-height: 43px;
    @extend %mont-500;
  }
  &__img{
    margin: 0 auto;    
  }
  &__name{
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    @extend %mont-700;
    letter-spacing: 0.03em;
  }
  &__slider-prew,
  &__slider-next{
    position: absolute;
    top: 20%;
    z-index: 100;
    cursor: pointer;
  }
  &__slider-prew{
    left: 5px;
  }
  &__slider-next{
    transform: rotate(180deg);
    right: 5px;
    
  }
  &__slider-btns__img{
    width: 20px;
    height: 32px;
  }
}

.blog{
  padding-top: 50px;
  text-align: center;
  background-color: $maingrey;
  background: linear-gradient(to top, #fff 44%, $maingrey 44%);
  &__title{
    @extend %title-h2;
  }
  &__items{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__item{
    width: 360px;
  }
  &__item-img{
    margin-bottom: 15px;
  }
  &__item-link{
    font-size: 18px;
    line-height: 22px;
    @extend %mont-700;
    color: $mainblue;
    margin-bottom: 10px;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    &:hover{
      border-color: $mainblue;
    }
  }
  &__item-date{
    font-size: 18px;
    line-height: 22px;
    @extend %mont-500;
    color: $grey;
    margin-bottom: 15px;
  }
  &__item-text{
    width: 353px;
    font-size: 18px;
    line-height: 25px;
    @extend %mont-500;
  }
  &__link{
    @extend %mainlink;
    color: $mainblue;
    border-color: $mainblue;
  }
}

.subscription{
  
  padding: 130px 0 98px;
  &__inner{
    width: 750px;
    margin: 0 auto;
  }
  &__text{
    text-align: center;
    @extend %mont-500;
    font-size: 25px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  &__input{
    width: 69%;
    margin-right: 2px;
    min-height: 58px;
    padding: 0 22px;
    border: none;
    background-color: $maingrey;
    color: $grey;
    font-size: 16px;
    line-height: 20px;
    @extend %mont-500;
    &::placeholder{      
      color: $grey;
    }
  }
  &__btn{
    @extend %btn;
    width: 219px;
    min-height: 58px;  
  }
}

.footer{
  background-color: $darkblue;
  padding: 50px 0 30px;
  color: $maingrey;
  font-size: 15px;
  line-height: 18px;
  &__inner{
    display: flex;
    justify-content: space-between; 
    margin-bottom: 35px;   
  }
  &__item-text{
    @extend %mont-400;
    margin-top: 12px;
  }
  &__item-pay{
    display: flex;
    justify-content: start;
    &__img{
      margin-right: 22px;
    }
  }
  &__item-title{
    @extend %mont-700;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 9px;    
  }
  &__item-link{
    @extend %mont-400;
    color: $maingrey;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    margin-bottom: 8px;
    &:hover{
      border-bottom: 1px solid $maingrey;
    }
  }
  &__location{
    display: flex;
    margin:0 0 20px -5px;
  }
  &__location-link{
    @extend %mont-700;
    font-size: 13px;
    line-height: 16px;
    color: $maingrey;
    padding-bottom: 2px;
    margin-left: 5px;
    border-bottom: 2px solid $maingrey;
  }
  &__social{
    display: flex;
  }
  &__social-link{
    margin-right: 18px;
  }
  &__copy{
    @extend %mont-400;
    font-size: 8px;
    line-height: 10px;
  }
}